version: '3'
services:
  web:
    command: bash -c 'while true; do gunicorn --workers=4 --bind=0.0.0.0:8080 e_store_primzel.wsgi --chdir /src/backend/ --log-level debug ; sleep 2; done'
    container_name: com.oscar.store
    hostname: store.oscar.com
    build: .
    stdin_open: true
    tty: true
    volumes:
      - './:/src/backend/'
    ports:
      - 8081:8080
    environment:
      CELERY_BROKER_URL: redis://redis.oscar.com:6379/
      CELERY_RESULT_BACKEND: redis://redis.oscar.com:6379/
      POSTGRES_USER: primzel_store
      POSTGRES_PASSWORD: primzel_store
      POSTGRES_DB: primzel_store
      POSTGRES_HOST: psql.primzel.com
      POSTGRES_PORT: 5432
      PRIMZEL_DEBUG: 'True'
      AWS_S3_ENDPOINT_URL: http://com.localstack.s3:4566/
    links:
      - redis
      - postgres
    depends_on:
      - localstack
      - redis
      - postgres
      - stripe-cli
    networks:
      primzel-docker-network:
        aliases:
          - store.oscar.com
  redis:
    image: redis:latest
    container_name: com.oscar.redis
    hostname: redis.oscar.com
    networks:
      primzel-docker-network:
        aliases:
          - redis.oscar.com
  postgres:
    restart: always
    image: bitnami/postgresql:latest
    container_name: com.primzel.psql
    hostname: psql.primzel.com
    environment:
      POSTGRES_USER: primzel_store
      POSTGRES_PASSWORD: primzel_store
      POSTGRES_DB: primzel_store
    networks:
      primzel-docker-network:
        aliases:
          - psql.primzel.com
    ports:
      - 5432:5432
  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    hostname: com.localstack.s3
    ports:
      - '4563-4599:4563-4599'
      - '8055:8080'
    environment:
      - SERVICES=s3,route53,ses,iam
      - DEBUG=1
      - DATA_DIR=/tmp/localstack/data
      - AWS_ACCESS_KEY_ID=123
      - AWS_SECRET_ACCESS_KEY=xyz
      - AWS_DEFAULT_REGION=us-east-2
      - PERSISTANCE=1
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
    networks:
      primzel-docker-network:
        aliases:
          - com.localstack.s3
          - com.localstack.route53
  stripe-cli:
    image: stripe/stripe-cli
    container_name: stripe-cli
    hostname: com.stripe.cli
    command: "listen --api-key ${STRIPE_API_KEY} --device-name ${STRIPE_DEVICE_NAME} --forward-to web:8080/ipn/stripe/1/1/"
    env_file:
      - stripe_cli.env
    networks:
      primzel-docker-network:
        aliases:
          - com.stripe.cli
networks:
  primzel-docker-network:
    driver: bridge
