{% extends "oscar/layout.html" %}

{% load basket_tags %}
{% load category_tags %}
{% load product_tags %}
{% load partner_tags %}
{% load banner_tags %}
{% load image_tags %}
{% load i18n %}

{% block styles %}{% endblock %}

{% block title %}
{% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block headertext %}{{ summary }}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
    </li>
    <li class="active">{{ summary }}</li>
</ul>
{% endblock breadcrumbs %}

{% block content_wrapper %}
<!-- Slider -->
{% render_banner 'main-banner' %}

<!-- Products grid (Trending products)-->
<section class="container pt-md-3 pb-5 mb-md-3">
    <div class="row pt-4 mx-n2">
        {% if products %}
        {% for product in products %}
        <!-- Product-->
        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
            {% render_product product.object %}
        </div>
        {% endfor %}

        {% else %}
        <p class="nonefound">{% trans "No products found." %}</p>
        {% endif %}
    </div>
    {% if products %}
    {% include "oscar/partials/pagination.html" %}
    {% endif %}
</section>

<!-- Shop by brand-->
<section class="container py-lg-4 mb-4">
    <h2 class="h3 text-center pb-4">Shop by brand</h2>
    <div class="row">
        {% partners as all_partners %}
        {% for partner in all_partners %}
        {% with image=partner.image %}
        {% if image %}
        {% oscar_thumbnail image "150x80" as thumb %}
        <div class="col-md-3 col-sm-4 col-6">
            <a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" href="{{ homepage_url }}?partner={{ partner.name }}">
                <img class="d-block mx-auto" src="{{ thumb.url }}" style="width: 150px; height: 80px" alt="{{ partner.name }}">
            </a>
        </div>
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
</section>
<!-- Toast: Added to Cart-->
<div class="toast-container toast-bottom-center">
    <div class="toast mb-3" id="cart-toast" data-delay="5000" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-success text-white"><i class="czi-check-circle mr-2"></i>
            <h6 class="font-size-sm text-white mb-0 mr-auto">Added to cart!</h6>
            <button class="close text-white ml-2 mb-1" type="button" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="toast-body">This item has been added to your cart.</div>
    </div>
</div>

{% endblock %}
