<a class="navbar-brand d-none d-sm-block mr-3 flex-shrink-0" href="index.html" style="min-width: 7rem;">
    <img width="142" src="/static/oscar/img/logo-dark.png" alt="Cartzilla"/></a>
<a class="navbar-brand d-sm-none mr-2" href="index.html" style="min-width: 4.625rem;">
    <img width="74"
         src="/static/oscar/img/logo-icon.png"
         alt="Cartzilla"/>
</a>
<div class="input-group-overlay d-none d-lg-flex mx-4">
    <input class="form-control appended-form-control" type="text" placeholder="Search for products">
    <div class="input-group-append-overlay"><span class="input-group-text"><i
            class="czi-search"></i></span></div>
</div>