{% load currency_filters %}
{% load i18n %}

<div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-tool navbar-stuck-toggler" href="#">
        <span class="navbar-tool-tooltip">Expand menu</span>
        <div class="navbar-tool-icon-box">
            <i class="navbar-tool-icon czi-menu"></i>
        </div>
    </a>
    <a class="navbar-tool d-none d-lg-flex" href="{% url 'customer:wishlists-list' %}">
        <span class="navbar-tool-tooltip">Wishlist</span>
        <div class="navbar-tool-icon-box">
            <i class="navbar-tool-icon czi-heart"></i>
        </div>
    </a>
    {% if user.is_authenticated %}
    <a class="navbar-tool ml-1 ml-lg-0 mr-n1 mr-lg-2" {% if user.is_authenticated %} href="{% url 'customer:logout' %}" {% endif %}>
        <span class="navbar-tool-tooltip">Logout</span>
        <div class="navbar-tool-icon-box">
            <i class="navbar-tool-icon czi-sign-out"></i>
        </div>
    </a>
    {% endif %}
    <a class="navbar-tool ml-1 ml-lg-0 mr-n1 mr-lg-2" {% if user.is_authenticated %} href="{% url 'customer:notifications-inbox' %}" {% else %} href="#signin-signup" data-toggle="modal" {% endif %}>
        <div class="navbar-tool-icon-box">
            <i class="navbar-tool-icon czi-user"></i>
        </div>
        <div class="navbar-tool-text ml-n3">
            {% if not user.is_authenticated %}
            <small>{% trans "Hello, Sign in" %}</small>
            {% else %}
            <small>{% trans "Hello, " %}{{user.first_name}}</small>
            {% endif %}
            {% trans "My Account" %}
        </div>
    </a>
    <div class="navbar-tool dropdown ml-3">
        <a class="navbar-tool-icon-box bg-secondary dropdown-toggle" href="{% url 'basket:summary' %}">
        <span class="navbar-tool-label">
            {{request.basket.num_lines}}
        </span>
            <i class="navbar-tool-icon czi-cart"></i>
        </a>
        <a class="navbar-tool-text" href="{% url 'basket:summary' %}">
            <small>My Cart</small>
            {% if request.basket.is_tax_known %}
            {{ request.basket.total_incl_tax|currency:request.basket.currency }}
            {% else %}
            {{ request.basket.total_excl_tax|currency:request.basket.currency }}
            {% endif %}
        </a>
        <!-- Cart dropdown-->
        <div class="dropdown-menu dropdown-menu-right" style="width: 20rem;">
            <div class="widget widget-cart px-3 pt-2 pb-3">
                <div style="height: 15rem;" data-simplebar data-simplebar-auto-hide="false">
                    {% include "oscar/basket/partials/basket_quick.html" %}
                </div>
                <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
                    <div class="font-size-sm mr-2 py-2">
                        <span class="text-muted">Subtotal:</span>
                        <span class="text-accent font-size-base ml-1">
                        {% if request.basket.is_tax_known %}
                            {{ request.basket.total_incl_tax|currency:request.basket.currency }}
                        {% else %}
                            {{ request.basket.total_excl_tax|currency:request.basket.currency }}
                        {% endif %}
                    </span>
                    </div>
                    <a class="btn btn-outline-secondary btn-sm" href="{% url 'basket:summary' %}">Expand cart<i
                            class="czi-arrow-right ml-1 mr-n1"></i></a>
                </div>
                <a class="btn btn-primary btn-sm btn-block" href="{% url 'checkout:index' %}">
                    <i class="czi-card mr-2 font-size-base align-middle"></i>
                    Checkout
                </a>
            </div>
        </div>
    </div>
</div>