{% load currency_filters %}
{% load menu_tags %}
{% load image_tags %}

<div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Search-->
            <div class="input-group-overlay d-lg-none my-3">
                <div class="input-group-prepend-overlay"><span class="input-group-text"><i class="czi-search"></i></span></div>
                <input class="form-control prepended-form-control" type="text" placeholder="Search for products">
            </div>
            <!-- Departments menu-->
            <ul class="navbar-nav mega-nav pr-lg-2 mr-lg-2">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle pl-0" href="#" data-toggle="dropdown"><i class="czi-view-grid mr-2"></i>Departments</a>
                    {% menu_tree depth=1 as menu_rows %}
                    {% if menu_rows %}
                    <div class="dropdown-menu px-2 pl-0 pb-4">
                        {% for menu_row in menu_rows %}
                        <div class="d-flex flex-wrap flex-md-nowrap">
                        {% for menu_item in menu_row %}
                            <div class="mega-dropdown-column pt-4 px-3">
                                <div class="widget widget-links">
                                    {% with image=menu_item.image %}
                                        {% if image %}
                                            {% oscar_thumbnail image "350x326" upscale=False as thumb %}
                                            <a class="d-block overflow-hidden rounded-lg mb-3" href="{{ menu_item.included_categories.first.get_absolute_url }}" alt="menu item">
                                                <img src="{{ thumb.url }}" alt="{{ menu_item.name }}"
                                                     style="height: 150px;width: 208px">
                                            </a>
                                        {% endif %}
                                    {% endwith %}
                                    <h6 class="font-size-base mb-2">{{ menu_item.name }}</h6>
                                    <ul class="widget-list">

                                        {% for child in menu_item.get_descendants %}
                                        <li class="widget-list-item">
                                            <a class="widget-list-link" href="{{ child.included_categories.first.get_absolute_url }}">{{ child.name }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        {% endfor %}

                    </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
