{% load i18n %}
<!-- Topbar-->
<div class="topbar topbar-dark bg-dark">
    <div class="container">
        <div class="topbar-text dropdown d-md-none"><a class="topbar-link dropdown-toggle" href="#" data-toggle="dropdown">Useful links</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="tel:{{  setting.store_phone_number }}"><i class="czi-support text-muted mr-2"></i>{{  setting.store_phone_number }}</a></li>
                {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'customer:order-list' %}"><i class="czi-location text-muted mr-2"></i>Order tracking</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="topbar-text text-nowrap d-none d-md-inline-block"><i class="czi-support"></i><span class="text-muted mr-1">Support</span><a class="topbar-link" href="tel:{{  setting.store_phone_number }}">{{  setting.store_phone_number }}</a></div>
        <div class="cz-carousel cz-controls-static d-none d-md-block">
            <div class="cz-carousel-inner" data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;nav&quot;: false}">
               <div class="topbar-text">Free shipping for order over 10000</div>
                <div class="topbar-text">We return money within 7 days</div>
                <div class="topbar-text">Friendly 24/7 customer support</div>
            </div>
        </div>
        <div class="ml-3 text-nowrap">
            {% if user.is_authenticated %}
            <a class="topbar-link mr-4 d-none d-md-inline-block" href="{% url 'customer:order-list' %}"><i class="czi-location"></i>Order tracking</a>
            {% endif %}
        </div>
    </div>
</div>
