{% load basket_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

{% if session.availability.is_available_to_buy %}
{% basket_form request product 'single' as basket_form %}
<form action="{% url 'basket:add' pk=product.pk %}" class="" method="post">
    {% csrf_token %}
    {{ basket_form.as_p }}
    <button class="btn btn-primary btn-sm btn-block mb-2" type="submit" data-toggle="toast" data-loading-text="{% trans 'Adding...' %}"
            data-target="#cart-toast"><i class="czi-cart font-size-sm mr-1"></i>{% trans "Add to Cart" %}
    </button>
</form>
{% else %}
<button class="btn btn-primary btn-sm btn-block mb-2" disabled="disabled"
        data-target="#cart-toast"><i class="czi-cart font-size-sm mr-1"></i>{% trans "Add to Cart" %}
</button>
{% endif %}
