{% load reviews_tags %}
{% load image_tags %}
{% load i18n %}
{% load display_tags %}
{% load static %}
{% load purchase_info_tags %}
{% load primzel_tags %}

{% block product %}
<div class="card product-card">
    {% include 'oscar/catalogue/partials/wishlist-button.html' %}
    {% with image=product.primary_image %}
    {% oscar_thumbnail image.original "296x276" upscale=False as thumb %}
    <a class="card-img-top d-block overflow-hidden" href="{{ product.get_absolute_url }}" alt="Product">
        <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
    </a>
    {% endwith %}

    <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Sneakers &amp; Keds</a>
        <h3 class="product-title font-size-sm"><a href="{{ product.get_absolute_url }}">{{ product.get_title }}
        <div class="d-flex justify-content-between">
            {% block product_price %}
            <div class="product-price">
                <span class="text-accent">
                    {% include "oscar/catalogue/partials/stock_record.html" %}
                </span>
            </div>
            {% endblock %}
            {% iffeature "reviews" %}
            {% include "oscar/catalogue/reviews/partials/review_stars.html" with yellow_stars=True total_reviews=product.reviews.count hide_review_count=True %}
            {% endiffeature %}
        </div>
    </div>
        <div class="card-body card-body-hidden">
            <form class="mb-grid-gutter" id="basket-form-product-{{ product.id }}" method="post" onsubmit="return addToBasketFormHandler(this)">
                {{ basket_form.as_p }}
            {% if product.is_parent %}
            <div class="text-center pb-2">
                {% render_variant_descriptors product %}
            </div>
            {% endif %}
            </form>
            {% if product.is_parent %}
                <div class="form-group d-flex align-items-center">
                    <input class="custom-select mr-3" style="width: 5rem;" name="quantity" type="hidden" min="1" value="1" form="basket-form-product-{{ product.id }}"/>

                    <button form="basket-form-product-{{ product.id }}" class="btn btn-primary btn-shadow btn-block" type="submit" data-loading-text="{% trans "Adding..." %}"><i class="czi-cart font-size-lg mr-2"></i>{% trans "Add to Cart" %}</button>
                </div>
            {% endif %}

            {% if not product.is_parent and not product.has_options %}
            {% include "oscar/catalogue/partials/add_to_basket_form_compact.html" %}
            {% endif %}

            <div class="text-center">
                <a class="nav-link-style font-size-ms eggs-quick-view" href="#quick-view" data-toggle="modal"
                   data-product-detail-url="{% url 'catalogue:quick_detail' product_slug=product.slug pk=product.pk %}">
                    <i class="czi-eye align-middle mr-1" ></i>{% trans "Quick view" %}
                </a>
            </div>
        </div>
</div>
<hr class="d-sm-none">
{% endblock %}