{% load reviews_tags %}
{% load image_tags %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}
{% load purchase_info_tags %}
{% block product %}
<div class="card product-card">
    <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left"
            title="Add to wishlist">
        <i class="czi-heart"></i>
    </button>
    {% with image=product.primary_image %}
    {% oscar_thumbnail image.original "296x276" upscale=False as thumb %}
    <a class="card-img-top d-block overflow-hidden" href="{{ product.get_absolute_url }}" alt="Product">
        <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
    </a>
    {% endwith %}

    <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Sneakers &amp; Keds</a>
        <h3 class="product-title font-size-sm"><a href="shop-single-v1.html">{{ product.get_title }}</a></h3>
        <div class="d-flex justify-content-between">
            {% block product_price %}
            <div class="product-price">
                <span class="text-accent">
                    {% include "oscar/catalogue/partials/stock_record.html" %}
                </span>
            </div>
            {% endblock %}
            <div class="star-rating">
                <i class="sr-star czi-star-filled active"></i>
                <i class="sr-star czi-star-filled active"></i>
                <i class="sr-star czi-star-filled active"></i>
                <i class="sr-star czi-star-filled active"></i>
                <i class="sr-star czi-star"></i>
            </div>
        </div>
    </div>
    <div class="card-body card-body-hidden">
        {% if product.is_parent %}
        <div class="text-center pb-2">
        {% for child in product.children.all %}
        {% purchase_info_for_product request child as child_session %}
        {% if child_session.availability.is_available_to_buy %}
<!--        <a href="{{ child.get_absolute_url }}">{{ child.get_title }}</a><br>-->

            <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="size1" id="s-{{ child.get_title }}">
                <label class="custom-option-label" for="s-{{ child.get_title }}">{{ child.get_title }}</label>
            </div>

        {% endif %}
        {% endfor %}
        </div>
        {% endif %}


        {% if not product.is_parent and not product.has_options %}
        {% include "oscar/catalogue/partials/add_to_basket_form_compact.html" %}
        {% endif %}
        <div class="text-center">
            <a class="nav-link-style font-size-ms eggs-quick-view" href="#quick-view" data-toggle="modal"
               data-product-detail-url="{% url 'catalogue:quick_detail' product_slug=product.slug pk=product.pk %}">
                <i class="czi-eye align-middle mr-1" ></i>Quick view
            </a>
        </div>
    </div>
</div>
<hr class="d-sm-none">
{% endblock %}