body {
  background-color: white;
}
.header .page_inner {
  padding: 0px 30px 30px 30px !important;
}
.header .page_inner .row {
  display: flex;
}
.header .page_inner .row .brand-column {
  flex: 1;
}
.header .page_inner .row .primzel-basket-mini {
  align-items: center;
  display: flex;
}
.navbar-default .navbar-nav > li {
  height: 30px;
  height: 100%;
}
.navbar-default .navbar-nav > li a {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 0.75em;
  color: rgba(255, 255, 255, 0.8);
}
.navbar-default .navbar-nav > li a:hover {
  color: white;
}
.navbar-default .navbar-form {
  margin: 0px;
  min-height: 30px;
}
.navbar-default .navbar-form .form-control {
  height: 10px;
}
.navbar {
  background-color: #bc1470;
  position: initial;
}
.navbar .navbar-nav li.dropdown:hover a:hover {
  background-color: transparent;
}
.navbar .navbar-nav li.dropdown:hover > ul.dropdown-menu {
  background-color: #bc1470;
  display: block;
}
.navbar .navbar-nav li.dropdown:hover > ul.dropdown-menu li.dropdown > ul.dropdown-menu {
  position: absolute;
  top: -8px;
  left: 98%;
}
.navbar.accounts {
  min-height: 30px;
}
.navbar.accounts .container-flex {
  min-height: 30px;
}
.full-height {
  height: 100%;
}
.container-flex {
  display: flex;
  align-items: stretch;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
  flex: auto;
  align-self: center;
}
.navbar-inverse .container-fluid .collapse .nav li a {
  color: rgba(255, 255, 255, 0.8);
}
.navbar-inverse .container-fluid .collapse .nav a:hover {
  color: white;
}
