{% extends "oscar/layout.html" %}
{% load i18n %}

{% block content_wrapper %}
<div class="container py-4 py-lg-5 my-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card border-0 box-shadow">
                <div class="card-body">
                    <h2 class="h4 mb-1">Sign in</h2>
                    <div class="py-3">
                        <h3 class="d-inline-block align-middle font-size-base font-weight-semibold mb-2 mr-2">With
                            social account:</h3>
                        <div class="d-inline-block align-middle"><a class="social-btn sb-google mr-2 mb-2" href="#"
                                                                    data-toggle="tooltip" title=""
                                                                    data-original-title="Sign in with Google"><i
                                class="czi-google"></i></a><a class="social-btn sb-facebook mr-2 mb-2" href="#"
                                                              data-toggle="tooltip" title=""
                                                              data-original-title="Sign in with Facebook"><i
                                class="czi-facebook"></i></a><a class="social-btn sb-twitter mr-2 mb-2" href="#"
                                                                data-toggle="tooltip" title=""
                                                                data-original-title="Sign in with Twitter"><i
                                class="czi-twitter"></i></a></div>
                    </div>
                    <hr>
                    <h3 class="font-size-base pt-4 pb-2">Or using form below</h3>
                    <form id="login_form" action="{{ request.get_full_path }}" method="post" class="needs-validation" novalidate="">
                        {% csrf_token %}
                        {% if login_form.errors %}
                        <div class="alert alert-primary" role="alert" style="font-size: 10px">
                            {{ login_form.non_field_errors.as_text }}
                        </div>
                        {% endif %}

                        <div class="input-group-overlay form-group">
                            <div class="input-group-prepend-overlay"><span class="input-group-text"><i
                                    class="czi-mail"></i></span></div>
                            <input class="form-control prepended-form-control" name="login-username" type="email" placeholder="Email"
                                   required="">
                        </div>
                        <div class="input-group-overlay form-group">
                            <div class="input-group-prepend-overlay"><span class="input-group-text"><i
                                    class="czi-locked"></i></span></div>
                            <div class="password-toggle">
                                <input class="form-control prepended-form-control" type="password" name="login-password"
                                       placeholder="Password" required="">
                                <label class="password-toggle-btn">
                                    <input class="custom-control-input" type="checkbox"><i
                                        class="czi-eye password-toggle-indicator"></i><span class="sr-only">Show password</span>
                                </label>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap justify-content-between">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" checked="" id="remember_me">
                                <label class="custom-control-label" for="remember_me">Remember me</label>
                            </div>
                            <a class="nav-link-inline font-size-sm" href="{% url 'password-reset' %}">{% trans "Forgot password?" %}</a>
                        </div>
                        <hr class="mt-4">
                        <div class="text-right pt-4">
                            <button name="login_submit" type="submit" value="Log In" class="btn btn-primary" data-loading-text="{% trans "Logging in..." %}"><i class="czi-sign-in mr-2 ml-n21"></i>{% trans 'Log In' %}</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-6 pt-4 mt-3 mt-md-0">
            <h2 class="h4 mb-3">No account? Sign up</h2>
            <p class="font-size-sm text-muted mb-4">Registration takes less than a minute but gives you full control
                over your orders.</p>
            <form id="register_form" action="{{ request.get_full_path }}" method="post" class="needs-validation {% if registration_form.email.errors %} was-validated {% endif %}" novalidate="">
                {% csrf_token %}
                {% include "oscar/partials/form_fields.html" with form=registration_form %}
                <div class="text-right">
                    <button name="registration_submit" class="btn btn-primary" type="submit" data-loading-text="{% trans 'Registering...' %}"><i class="czi-user mr-2 ml-n1"></i>Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}