{% extends "oscar/layout.html" %}
{% load i18n %}

{% block title %}
{% trans "Basket" %} | {{ block.super }}
{% endblock %}


{% block content_wrapper %}

<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                {% block breadcrumbs %}
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap"><a href="{{ homepage_url }}">{% trans "Shop"%}</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">{% trans "Cart"%}</li>
                </ol>
                {% endblock %}
            </nav>
        </div>
        <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
            <h1 class="h3 text-light mb-0">Your cart</h1>
        </div>
    </div>
</div>

{% include "oscar/basket/partials/basket_content.html" %}

{% endblock %}



{# Hide mini-basket so we don't have two baskets to keep in sync #}
{% block mini_basket %}{% endblock %}

{% block headertext %}
{% trans "Basket" %}
{% endblock %}

{% block content %}
{# Use a partial template so that AJAX can be used to re-render basket #}
{% include 'oscar/basket/partials/basket_content.html' %}
{% endblock content %}

{% block onbodyload %}
{{ block.super }}
{# We pass in the URL to send AJAX requests to #}
var options = {
'basketURL': '{% url 'basket:summary' %}'
};
oscar.basket.init(options);
{% endblock %}
