{% extends "oscar/layout.html" %}
{% load i18n %}
{% load image_tags %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}

{% block content_wrapper %}

{% include 'oscar/checkout/partials/checkout_page_header.html'%}
<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <section class="col-lg-8">
            <!-- Steps-->
            {% include 'oscar/checkout/partials/steps.html' with step='REVIEW' %}
            {% if not basket.is_empty %}


            <!-- Order details-->
            <h2 class="h6 pt-1 pb-3 mb-3 border-bottom">Review your order</h2>
            {% for line in request.basket.all_lines %}
            <!-- Item-->
            <div class="d-sm-flex justify-content-between my-4 pb-3 border-bottom">
                <div class="media media-ie-fix d-block d-sm-flex text-center text-sm-left">
                    {% with image=line.product.primary_image %}
                    {% oscar_thumbnail image.original "240x240" upscale=False as thumb %}
                    <a href="{{ line.product.get_absolute_url }}" class="d-block mr-2">
                        <img class="thumbnail" src="{{ thumb.url }}" alt="{{ line.product.get_title }}">
                    </a>
                    {% endwith %}
                    <div class="media-body pt-2">
                        <h3 class="product-title font-size-base mb-2"><a href="shop-single-v1.html">{{ line.product.title }}</a></h3>
                        {% for av in line.product.attribute_values.all %}
                        <div class="font-size-sm"><span class="text-muted mr-2">{{ av.attribute.name }}:</span>{{ av.value_as_html }}</div>
                        {% endfor %}

                        <div class="font-size-lg text-accent pt-2">{{ line.unit_price_excl_tax|currency:request.basket.currency }}</div>
                    </div>
                </div>
                <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-right" style="max-width: 9rem;">
                    <p class="mb-0"><span class="text-muted font-size-sm">Quantity:</span><span>&nbsp;{{ line.quantity }}</span></p>

                </div>
            </div>
            {% endfor %}
            {% endif %}
            <!-- Client details-->
            <div class="bg-secondary rounded-lg px-4 pt-4 pb-2">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="h6">Shipping to:</h4>
                        <ul class="list-unstyled font-size-sm">
                            <li>
                                <span class="text-muted">Address:&nbsp;</span>
                                {{shipping_address.summary}}
                            </li>
                            <li>
                                <span class="text-muted">Phone:&nbsp;</span>{{shipping_address.phone_number}}
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="h6">Payment method:</h4>
                        <ul class="list-unstyled font-size-sm">
                            <li><span class="text-muted">Payment Method:&nbsp;</span>{{payment_method.title}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <form method="post" action="{% url 'checkout:preview' %}" id="place_order_form">
                {% csrf_token %}
                <input type="hidden" name="action" value="place_order" />
                <input type="hidden" name="payment_method" value="{{payment_method.id}}"/>
                {% if stripe_token %}
                <input type="hidden" name="stripe_token" value="{{stripe_token}}"/>
                {% elif paypal_object_str %}
                <input type="hidden" name="paypal_object_str" value="{{paypal_object_str}}"/>
                <script type="text/javascript">
                    document.getElementById('place_order_form').submit();
                </script>
                {% endif %}
                <!-- Navigation (desktop)-->
                {% include "oscar/checkout/partials/checkout_form_navigation.html" with previous_step='Payment' next_step='Submission' %}
            </form>

        </section>

        <!-- Sidebar-->
        {% include "oscar/checkout/partials/order_summery.html"%}
    </div>
</div>
{% endblock %}