{% extends "oscar/layout.html" %}
{% load i18n %}

{% block content_wrapper %}

{% include 'oscar/checkout/partials/checkout_page_header.html'%}

<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <section class="col-lg-8">
            <!-- Steps-->
            {% include 'oscar/checkout/partials/steps.html' with step=2 %}
            <!-- Autor info-->
            {% if user.is_authenticated %}
            {% if addresses %}
            <h3>{% trans "An address from your address book?" %}</h3>
            <div class="choose-block">
                <div class="row">
                    {% for address in addresses %}
                    {% block select_address_form %}
                    <div class="col-sm-6">
                        <div class="well">
                            <address>
                                {% block select_address_fields %}
                                {% for field in address.active_address_fields %}
                                <span>{{ field }}</span>{% if not forloop.first %}<br/>{% endif %}
                                {% endfor %}
                                {% endblock %}
                            </address>
                            <form action="{% url 'checkout:shipping-address' %}" method="post" id="select_shipping_address_{{ address.id }}">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="ship_to" />
                                <input type="hidden" name="address_id" value="{{ address.id }}" />
                                <div class="btn-group mr-2 mb-3">
                                    {% if address.is_default_for_shipping %}
                                    <button type="submit" class="btn btn-primary" data-loading-text="{% trans 'Saving...' %}"><i class="icon-ok"></i> {% trans "Ship to your default shipping address" %}</button>
                                    {% else %}
                                    <button type="submit" class="btn btn-primary" data-loading-text="{% trans 'Saving...' %}">{% trans "Ship to this address" %}</button>
                                    {% endif %}
                                    <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" type="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                            class="sr-only">Toggle dropdown</span></button>
                                    <div class="dropdown-menu" style="">
                                        <a href="{% url 'checkout:user-address-update' pk=address.id %}" class="dropdown-item">{% trans "Edit address" %}</a>
                                        <a href="{% url 'checkout:user-address-delete' pk=address.id %}" class="dropdown-item">{% trans "Delete" %}</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:2 %}
                </div><div class="row">
                {% endif %}
                {% endblock %}
                {% endfor %}
            </div>
            </div>
            <h3>{% trans "Or a new address?" %}</h3>
            {% endif %}
            {% endif %}

            <!-- Shipping address-->
            <h2 class="h6 pt-1 pb-3 mb-3 border-bottom">Shipping address</h2>
            <form action="{% url 'checkout:shipping-address' %}" method="post" id="new_shipping_address" class="form form-horizontal">
                {% csrf_token %}
                {% include "oscar/partials/form_fields.html" with form=form style='horizontal' %}
                <!-- Navigation (desktop)-->
                {% url "basket:summary" as basket_url %}
                {% include "oscar/checkout/partials/checkout_form_navigation.html" with previous_step='Cart' next_step='Payment' previous_step_url=basket_url %}
            </form>
        </section>
        <!-- Sidebar-->
        {% include "oscar/checkout/partials/order_summery.html"%}
    </div>
    <!-- Navigation (mobile)-->
    <div class="row d-lg-none">
        <div class="col-lg-8">
            <div class="d-flex pt-4 mt-3">
                <div class="w-50 pr-3"><a class="btn btn-secondary btn-block" href="shop-cart.html"><i
                        class="czi-arrow-left mt-sm-0 mr-1"></i><span
                        class="d-none d-sm-inline">Back to Cart</span><span class="d-inline d-sm-none">Back</span></a>
                </div>
                <div class="w-50 pl-2"><a class="btn btn-primary btn-block" href="checkout-shipping.html"><span
                        class="d-none d-sm-inline">Proceed to Shipping</span><span
                        class="d-inline d-sm-none">Next</span><i class="czi-arrow-right mt-sm-0 ml-1"></i></a></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}