{% load history_tags %}
{% load basket_tags %}
{% load currency_filters %}
{% load image_tags %}
{% load i18n %}
{% load static %}
{% load shipping_tags %}
<!-- Sidebar-->
<aside class="col-lg-4 pt-4 pt-lg-0">
    <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">
        <div class="widget mb-3">
            <h2 class="widget-title text-center">Order summary</h2>
            {% for line in request.basket.all_lines %}
                <div class="media align-items-center pb-2 border-bottom">
                    {% with image=line.product.primary_image %}
                    {% oscar_thumbnail image.original "64x64" upscale=False as thumb %}
                    <a href="{{ line.product.get_absolute_url }}" class="d-block mr-2">
                        <img class="thumbnail" src="{{ thumb.url }}" alt="{{ line.product.get_title }}">
                    </a>
                    {% endwith %}
                <div class="media-body">
                    <h6 class="widget-product-title">
                        <a href="shop-single-v1.html">{{ line.product.title }}</a>
                    </h6>
                    <div class="widget-product-meta">
                        <span class="text-accent mr-2">
                            {{ line.unit_price_excl_tax|currency:request.basket.currency }}
                        </span>
                        <span class="text-muted">x {{ line.quantity }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
        <ul class="list-unstyled font-size-sm pb-2 border-bottom">
            <li class="d-flex justify-content-between align-items-center">
                <span class="mr-2">Subtotal:</span>
                <span class="text-right">
                    {% if not show_tax_separately and basket.is_tax_known %}
                        {{ basket.total_incl_tax|currency:basket.currency }}
                    {% else %}
                        {{ basket.total_excl_tax|currency:basket.currency }}
                    {% endif %}
            </span>
            </li>
            <li class="d-flex justify-content-between align-items-center">
                <span class="mr-2">Shipping:</span>
                <span class="text-right">
                    {% if not shipping_method.is_discounted %}
                            {% if not show_tax_separately and shipping_charge.is_tax_known %}
                                {{ shipping_charge.incl_tax|currency:basket.currency }}
                            {% else %}
                                {{ shipping_charge.excl_tax|currency:basket.currency }}
                            {% endif %}
                    {% else %}
                        {% shipping_charge_discount shipping_method basket as shipping_discount %}
                        {% shipping_charge_excl_discount shipping_method basket as shipping_charge_excl_discount %}
                        {# As shipping is discounted, we break it down into its original charge and a discount #}

                            {% if not show_tax_separately and shipping_charge.is_tax_known %}
                                {{ shipping_charge.incl_tax|currency:basket.currency }}
                            {% else %}
                                {{ shipping_charge.excl_tax|currency:basket.currency }}
                            {% endif %}
                    {% endif %}
                </span>
            </li>
            {% for surcharge in basket_surcharges %}
                <li class="d-flex justify-content-between align-items-center">
                    <span class="mr-2">{{ surcharge.name }}:</span>
                    <span class="text-right">{{ surcharge.excl_tax|currency:basket.currency }}</span>
                </li>
            {% endfor %}
            <li class="d-flex justify-content-between align-items-center">
                <span class="mr-2">Taxes:</span>
                <span class="text-right">{{ basket.total_tax|currency:basket.currency }}</span>
            </li>
            <li class="d-flex justify-content-between align-items-center">
                <span class="mr-2">Discount:</span>
                <span class="text-right">{{ basket.total_discount|currency:basket.currency  }}</span>
            </li>
        </ul>
        <h3 class="font-weight-normal text-center my-4">
            {% if order_total.is_tax_known %}
            {{ order_total.incl_tax|currency:basket.currency }}
            {% else %}
            {{ order_total.excl_tax|currency:basket.currency }}
            {% endif %}
        </h3>
        {% if voucher_form %}
        <form class="needs-validation" id="voucher_form" action="{% url 'basket:vouchers-add' %}" method="post" novalidate="">
            {% csrf_token %}
            {% include "oscar/partials/form_fields.html" with form=voucher_form %}
            <button class="btn btn-outline-primary btn-block" type="submit">{% trans "Apply promo code" %}</button>
        </form>
        {% endif %}
    </div>
</aside>
