{% load i18n %}
<div class="steps steps-light pt-2 pb-3 mb-5">
    <a class="step-item {% if step >= 1 %} active current {% endif %}" href="{% url 'basket:summary' %}">
        <div class="step-progress">
            <span class="step-count">1</span>
        </div>
        <div class="step-label">
            <i class="czi-cart"></i>Cart
        </div>
    </a>
    <a class="step-item {% if step >= 2 %} active current {% endif %}" href="{% url 'checkout:shipping-address' %}">
        <div class="step-progress">
            <span class="step-count">2</span>
        </div>
        <div class="step-label">
            <i class="czi-user-circle"></i>Your details
        </div>
    </a>
    <a class="step-item {% if step >= 3 %} active current {% endif %}" href="{% url 'checkout:shipping-address' %}">
        <div class="step-progress">
            <span class="step-count">3</span>
        </div>
        <div class="step-label">
            <i class="czi-package"></i>Shipping
        </div>
    </a>
    <a class="step-item {% if step >= 4 %} active current {% endif %}" href="{% url 'checkout:payment-details' %}">
        <div class="step-progress">
            <span class="step-count">4</span>
        </div>
        <div class="step-label">
            <i class="czi-card"></i>Payment
        </div>
    </a>
    <a class="step-item {% if step >= 5 %} active current {% endif %}" href="checkout-review.html">
        <div class="step-progress">
            <span class="step-count">5</span>
        </div>
        <div class="step-label">
            <i class="czi-check-circle"></i>Review
        </div>
    </a>
</div>