{% extends "oscar/dashboard/layout.html" %}
{% load i18n %}
{% load image_tags %}

{% block navbar %}
<nav class="navbar navbar-static-top navbar-inverse navbar-accounts">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".nav-accounts">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% block partner_logo %}
            {% if setting %}
                {% with image=setting.logo %}
                    {% oscar_thumbnail image.url setting.logo_size crop='center' quality=99 as thumb %}
                    <a href="{{ homepage_url }}" class="navbar-brand d-none d-sm-block mr-3 flex-shrink-0" style="min-width: 7rem;">
                        <img src="{{ thumb.url }}" alt="{{ setting.store_name }}" width="60" height="38">
                    </a>
                {% endwith %}
            {% endif %}
            {% endblock partner_logo %}
        </div>
        <div class="collapse navbar-collapse nav-accounts">
            <ul class="nav navbar-nav navbar-right">
                <li><span>{% trans "Welcome" %} <em>{{ user.get_full_name|default:request.user.email }}</em></span></li>
                <li><a href="{{ homepage_url }}"><i class="icon-home"></i> {% trans "Return to site" %}</a></li>
                <li><a href="{% url 'customer:summary' %}"><i class="icon-user"></i> {% trans "Account" %}</a></li>
                <li><a href="{% url 'dashboard:logout' %}"><i class="icon-signout"></i> {% trans "Log out" %}</a></li>
            </ul>
        </div>
    </div><!-- /navbar-inner -->
</nav><!-- /navbar -->
{% endblock navbar %}