<form action="{% url "checkout:preview"%}" method="post" id="paypal-payment-form">
{% csrf_token %}
<div class="form-row">
    <input name="payment_method" type="hidden" value="{{payment_method.id}}">
    <label for="card-element">
        {{ payment_method.title }}
    </label>
    <div id="card-element">
        <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
</div>
</form>
<div id="paypal-button-container"></div>
<script src="https://www.paypal.com/sdk/js?client-id={{payment_method.publishable_key}}&currency={{payment_method.price_currency}}"
        data-sdk-integration-source="button-factory"></script>
<script>
    paypal.Buttons({
        style: {
            shape: 'rect',
            color: 'gold',
            layout: 'vertical',
            label: 'paypal',

        },
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{basket.total_incl_tax_excl_discounts}}',
                        baskt_id: '{{basket.id}}'
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                var form = document.getElementById('paypal-payment-form');
                var hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'hidden');
                hiddenInput.setAttribute('name', 'paypal_transaction_detail_object');
                hiddenInput.setAttribute('value', JSON.stringify(details));
                form.appendChild(hiddenInput);

                // Submit the form
                form.submit();
            });
        }
    }).render('#paypal-button-container');
</script>