{% extends "flatpages/default.html" %}
{% load i18n %}

{% block breadcrumbs %}{% endblock %}
{% block header%}
<div class="bg-secondary py-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="{{ homepage_url }}"><i
                            class="czi-home"></i>{% trans "Home" %}</a></li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">{{ flatpage.title}}</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
            <h1 class="h3 mb-0">{{ flatpage.title}}</h1>
            {% if user.is_staff %}
            <a class="pull-right hidden-xs" href="{% url 'dashboard:page-update' pk=flatpage.id %}"><small><i
                    class="icon-edit"></i> {% trans "Edit this page" %}</small></a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{{ flatpage.content }}
{% endblock %}
