name: Migration Checker
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  validate:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_USER: primzel_store
          POSTGRES_PASSWORD: primzel_store
          POSTGRES_DB: primzel_store
        ports:
          - 5432:5432
    steps:
      - name: Checkout the latest code
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Django Migration Checker
        uses: hardcoretech/django-migration-checker-action@v2
        with:
          app-path: ./
          docker-image-tag: 0.8.0
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements
      - name: Apply Migrations
        run: |
          POSTGRES_HOST=localhost python manage.py migrate_schemas
