{% load django_tables2 %}
{% load i18n %}
<div class="btn-toolbar">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" id="dropdownMenuButton">
            {% trans "Actions" %}
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'dashboard:configurable_menu:partner-configurable-menu-item-update' menu_id=record.patner_menu_id pk=record.id %}">
                {% trans "Edit menu item" %}
            </a>
            <a class="dropdown-item" href="{% url 'dashboard:configurable_menu:partner-configurable-child-menu-item-create' menu_id=record.patner_menu_id parent=record.pk %}">
                {% trans "Add child menu item" %}
            </a>
            <a class="dropdown-item" href="{% url 'dashboard:configurable_menu:partner-configurable-menu-item-details' menu_id=record.patner_menu_id pk=record.pk %}" {% if not record.has_children %} class="disabled"{% endif %}>
                {% trans "Edit children" %}
            </a>
        </div>
    </div>
</div>
